<div class="details">

<div>
  <p><%= blog.title %></p>
</div>
<div>
  <p><%= blog.description %></p>
</div>

  <%= link_to 'Home', display_index_url, remote: true %>
  <%if session[:user_id] %>
  <%= link_to 'Back', blogs_path, remote: true %>
  <%end %>
<h2>Comments</h2>

<%= render blog.comments %>

<h2>Add Your Comment Here</h2>
<%= render 'comments/form' %>
</div>