<p id="notice"><%= notice %></p>
<div>
  <p><%= @blog.title %></p>
</div>
<div>
  <p><%= @blog.description %></p>
</div>
<!--<div>-->
  <%#image_tag %>
<!--</div>-->
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<h2>Comments</h2>

<%= render @blog.comments %>

<h2>Add Your Comment Here</h2>
<%= render 'comments/form' %>