<!DOCTYPE html>
<html>
  <head>
    <title>Cooking Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class= "main">
    <%= image_tag 'cooking.svg', alt:'Cooking Blog' %>
    <h1><%= @page_title %></h1>
  </header>

  <main class='<%= controller.controller_name %>'>
    <%= yield %>
  </main>
  </body>
</html>
